@import url('https://fonts.googleapis.com/css2?family=Hind:wght@300&display=swap');

.main {
	font-family: 'Hind', sans-serif;
	padding-top: 5%;
}
.left {
	text-align: left;
}
.color {
	color: purple;
}
.link {
	color: red;
}
.social {
	color: blue;
}
