@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200&display=swap");

.main {
  padding: 5%;
  font-family: "Inter", sans-serif;
  user-select: none;
}

.info {
  font-size: 15px;
  float: right;
}
