@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');

.main {
  padding: 5%;
  font-family: "Patrick Hand", sans-serif;
  user-select: none;
}

.info {
  font-size: 15px;
  float: right;
}

.by {
  font-size: 15px;
}