<!DOCTYPE html>
<html lang="en">
    <head>

        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{{ context[0] }} - Error</title>
        <link href="https://fonts.googleapis.com/css?family=Karla:400,700&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdn.materialdesignicons.com/4.8.95/css/materialdesignicons.min.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
        <script src="https://kit.fontawesome.com/4a679d8ec0.js" crossorigin="anonymous"></script>
        <style>
            body {
                background-color: #f1f1f1;
                text-align: center;
            }
        </style>
    </head>
    <body>

        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="align-items-center">
                        <br>
                        <h1>
                            Oops !</h1>
                        <h2>
                            {{ context[1] }}
                        </h2>
                        <div class="text-muted">
                            {{ context[2] }}
                        </div>
                        <br>
                        <div class="form-check-inline">
                            <button class="btn btn-info" type="button"><a class="text-white" href="https://neotrinost.ir"><i class="fa fa-home"></i> Take me Home</a></button>
                            <p style="color: #f1f1f1;"> Or </p>
                            <button class="btn btn-danger" type="button"><a class="text-white" href="https://neotrinost.ir"><i class="fa fa-headset"></i> Go to support</a></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

    </body>
</html>