<!DOCTYPE html>
<html>
    <head>
        <title>BlackIQ - Index</title>
        <link href="https://fonts.googleapis.com/css?family=Karla:400,700&display=swap" rel="stylesheet">
		<link rel="stylesheet" href="https://cdn.materialdesignicons.com/4.8.95/css/materialdesignicons.min.css">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
		<script src="https://kit.fontawesome.com/4a679d8ec0.js" crossorigin="anonymous"></script>
		<style>
			body {
				padding-top: 56px;
			}
		</style>
    </head>
    <body>
        <div class="container">
            <div class="text-center">
                <div class="row">
                    <div class="col-md-1">
                        
                    </div>
                    <div class="col-md-10">
                        <div class="card border-primary">
                            <div class="card-body">
                                <div>
                                    <h1 class="text-info">Hello, I am Amir!</h1>
                                </div>
                                <hr>
                                <div>
                                    <p class="text-success">Back-End Developer & Python Programmer</p>
                                    <p class="text-primary">CEO | Founder of <a href="https://neotrinost.ir" class="text-warning">Neotrinost</a></p>
                                </div>
                                <br>
                                <br>
                                <div class="row">
                                    <div class="col-md-3">
                                        <p class="text-secondary"><small>I am coding for there</small></p>
                                        <h4>Platforms</h4>
                                        <br>
                                        <p>
                                            <i class="fa fa-server text-success"></i>
                                            &nbsp;
                                            <i class="fa fa-desktop text-primary"></i>
                                            &nbsp;
                                            <i class="fa fa-laptop text-secondary"></i>
                                        </p>
                                        <br>
                                    </div>
                                    <div class="col-md-3">
                                        <p class="text-secondary"><small>I am coding with there</small></p>
                                        <h4>Languages</h4>
                                        <br>
                                        <p>
                                            <i class="fab fa-python text-primary"></i>
                                            &nbsp;
                                            <i class="fab fa-php text-info"></i>
                                            &nbsp;
                                            <i class="fab fa-java text-warning"></i>
                                        </p>
                                        <br>
                                    </div>
                                    <div class="col-md-3">
                                        <p class="text-secondary"><small>I am</small></p>
                                        <h4>Working with</h4>
                                        <br>
                                        <p>
                                            <i class="fab fa-linux text-dark"></i>
                                            &nbsp;
                                            <i class="fab fa-git text-danger"></i>
                                        </p>
                                        <br>
                                    </div>
                                    <div class="col-md-3">
                                        <p class="text-secondary"><small>I am</small></p>
                                        <h4>Learning</h4>
                                        <br>
                                        <p>
                                            <i class="fa fa-robot text-success"></i>
                                            &nbsp;
                                            <i class="fa fa-cloud text-info"></i>
                                        </p>
                                        <br>
                                    </div>
                                </div>
                                <br>
                                <div>
                                    <h4>Find Me In Social Media</h4>
                                    <br>
                                    <p>
                                        <a href="#" class="text-dark"><i class="fa fa-github"></i></a>
                                        &nbsp;
                                        <a href="#" class="text-primary"><i class="fa fa-linkedin"></i></a>
                                        &nbsp;
                                        <a href="#" class="text-primary"><i class="fa fa-telegram"></i></a>
                                        &nbsp;
                                        <a href="#" class="text-info"><i class="fa fa-twitter"></i></a>
                                        &nbsp;
                                        <a href="#" class="text-primary"><i class="fa fa-facebook"></i></a>
                                        &nbsp;
                                        <a href="#" class="text-danger"><i class="fa fa-instagram"></i></a>
                                    </p>
                                </div>
                                <hr>
                                <p>
                                    Amirhossein Mohammadi. <i class="fa fa-copyright"></i> 2020 - 2021, All Rights Reserved
                                </p>
                                <p>
                                    <a href="https://github.com/BlackIQ/BlackIQ.ir" class="text-secondary"><i class="fa fa-github text-secondary"></i> Site Source Code</a>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-1">

                    </div>
                </div>
            </div>
        </div>
    </body>
</html>