<!DOCTYPE html>
<html>
	<head>
        <title>Amirhossein Mohammadi - BlackIQ</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta name="description" content="Amirhossein Mohammadi | CEO & Founder of Neotrinost">
		<meta name="author" content="BlackIQ">
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<meta content="width=device-width, initial-scale=1.0" name="viewport">
		<meta name="description" content="Amirhossein Mohammadi | CEO & Founder of Neotrinost">
		<meta name="keywords" content="BlackIQ,amirhossein mohammadi,leonardo larson,neotrinost,gnu_amir,annahita mirhosseini">
		<meta name="author" content="BlackIQ">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta property="og:site_name" content="Amirhossein Mohammadi">
		<meta property="og:title" content="Amirhossein Mohammadi | CEO & Founder of Neotrinost">
		<meta property="og:type" content="programming">
		<meta property="og:description" content="Amirhossein Mohammadi | CEO & Founder of Neotrinost">

		<link href="https://fonts.googleapis.com/css?family=Karla:400,700&display=swap" rel="stylesheet">
		<link rel="stylesheet" href="https://cdn.materialdesignicons.com/4.8.95/css/materialdesignicons.min.css">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
		<script src="https://kit.fontawesome.com/4a679d8ec0.js" crossorigin="anonymous"></script>
		<link rel="stylesheet" type="text/css" href="static/main.css">
	</head>
	<body>
        <div class="container-fluid">
            <div class="text-center">
                <div class="row">
                    <div class="col-md-2"></div>
                    <div class="col-md-8 main">
                    	<div class="left">
                        	<h3 class="color">Hi, I am Amirhossein.</h3>
                        	<p>Simple PHP and Python developer.</p>
                        	<i>
                        	I am Amir. Born in November 2003.
                        	I started learning programming in 2014, which I have been doing professionally since last year.
                        	Currently I am the CEO and founder of my own company called Neotrinost.
                        	</i>
                        </div>
                        <br>
                        <div class="row left">
                            <div class="col-md-3">
                            	<ul>
                            		<p class="color">Platforms</p>
                            		<li><i class="fa fa-server"></i> Servers</li>
                            		<li><i class="fa fa-desktop"></i> Desktops</li>
                            		<li><i class="fa fa-android"></i> Androids</li>
                            	</ul>
                                <br>
                            </div>
                            <div class="col-md-3">
                            	<ul>
                            		<p class="color">Languages</p>
                            		<li><i class="fab fa-python"></i> Python</li>
                            		<li><i class="fab fa-php"></i> Php</li>
                            		<li><i class="fab fa-java"></i> Java</li>
                            	</ul>
                                <br>
                            </div>
                            <div class="col-md-3">
                                <ul>
                            		<p class="color">Operating systems</p>
                            		<li><i class="fa fa-apple"></i> MacOS</li>
                            		<li><i class="fa fa-linux"></i> Linux</li>
                            	</ul>
                                <br>
                            </div>
                            <div class="col-md-3">
                                <ul>
                            		<p class="color">Skills</p>
                            		<li><i class="fa fa-git"></i> Git</li>
                            		<li><i class="fa fa-plug"></i> SSH</li>
                            	</ul>
                                <br>
                            </div>
                        </div>
                        <div class="row left">
                            <div class="col-md-3">
                            	<ul>
                            		<p class="color">Social media</p>
                            		<li><i class="fa fa-github"></i> <a href="#" class="social">Github</a></li>
                            		<li><i class="fa fa-linkedin"></i> <a href="#" class="social">LinkedIn</a></li>
                            		<li><i class="fa fa-twitter"></i> <a href="#" class="social">Twitter</a></li>
                            		<li><i class="fa fa-telegram"></i> <a href="#" class="social">Telegram</a></li>
                            		<li><i class="fa fa-facebook"></i> <a href="#" class="social">Facebook</a></li>
                            		<li><i class="fa fa-instagram"></i> <a href="#" class="social">Instagram</a></li>
                            	</ul>
                                <br>
                            </div>
                            <div class="col-md-3">
                            	<ul>
                            		<p class="color">Contact me</p>
                            		<li><i class="fa fa-mobile"></i> +98 901 478 4362</li>
                            		<li><i class="fa fa-envelope"></i> me@blackiq.ir</li>
                            	</ul>
                                <br>
                            </div>
                            <div class="col-md-3">
                            	<ul>
                            		<p class="color">Speaking</p>
                            		<li><i class="fa fa-tree"></i> Persion</li>
                            		<li><i class="fa fa-globe"></i> English</li>
                            		<li><i class="fa fa-eur"></i> German</li>
                            	</ul>
                                <br>
                            </div>
                            <div class="col-md-3">
                            	<p class="color">About site</p>
                            	<i>Site is Open-Source and you can see the code freely via my github.</i>
                            	<br>
                            	<a class="link" href="https://github.com/BlackIQ/BlackIQ.ir">Go to repository</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2"></div>
                </div>
            </div>
            <br>
        </div>
	</body>
</html>
