<!DOCTYPE html>
<html lang="en">
<head>
    <title>Login</title>
</head>
<body>
    <div>
        <h1>Login</h1>
        <br>
        <form action="{{ url_for('submit') }}" method="POST">
            {{ login_form.hidden_tag() }}
            <div>
                <label for="code">Username</label>
                <br><br>
                {{ login_form.username() }}
            </div>
            <br>
            <div>
                <label for="password">Password</label>
                <br><br>
                {{ login_form.password() }}
            </div>
            <br><br><br>
            <button name="login" id="login" type="submit">Login</button>
        </form>
    </div>
</body>
</html>