<!DOCTYPE html>
<html>
    <head>
        <title>Panel</title>
        <style>
            table {
                background-color: black;
                text-align: center;
                border: solid 1px black;
            }
            th, td {
                border: solid 1px black;
                background-color: white;
            }
        </style>
    </head>
    <body>
        <h1>Welcome To Panel, Amirhossein!</h1>
        <hr>
        <h3>New Post</h3>
        <form>
            <input placeholder="Title">
            <br>
            <br>
            <textarea rows="5"  placeholder="Description"></textarea>
            <br>
            <br>
            <button type="submit">Insert</button>
        </form>
        <hr>
        <h3>Table of jobs</h3>
        <table>
            <thead>
                <th>row</th>
                <td>Title</td>
                <td>Type</td>
                <td>Nececery</td>
            </thead>
            <tbody>
                <th>1</th>
                <td>Upload and download</td>
                <td>Php</td>
                <td>Yes</td>
            </tbody>
        </table>
        <hr>
        <h3>Post Control</h3>
        <table>
            <thead>
                <th>row</th>
                <td>Title</td>
                <td>Action</td>
            </thead>
            <tbody>
                <th>1</th>
                <td>Php and Flask</td>
                <td><a href="#">Edit</a> | <a href="#">Delete</a></td>
            </tbody>
        </table>
    </body>
</html>